<!DOCTYPE html>
<html>
	<head>
    <link rel="stylesheet" type="text/css" href="css/style.css"></link>
	</head>
	<body>
		<section class="jpte-profile-image">
			<button class="btn help-btn">?</button>
			<h1 class="guiding-header"></h1>
      <section>
        <div class="image-editor">
          <div class="image-display-container">
            <canvas class="image-display"></canvas>
          </div>
          <div class="action-btn-container">
            <button class="btn action-btn"></button>
          </div>
        </div>
        <div class="image-preview">
        </div>
      </section>
		</section>
	</body>
</html>